
<% for(var index in days){ %>
    <div class="table-data day">
        <input type="number" value="<%= days[index].hours %>" data-day="<%= days[index].day %>" class="day-hours pointer"/>
        <button title="Show Notes" class="showNotes"></button>
        <div class="day-popout hide">
            Notes<br/>
            <textarea data-day="<%= days[index].day %>"><%= days[index].notes %></textarea>
        </div>
    </div>
<% } %>
<div class="table-data total"><%= totalHours %></div>